<PMD2>
  <!--=======================================================================-->
  <!--ASM Patches Constants-->
  <!--=======================================================================-->
  <!--Put the data defining your patch here.-->
  <ASMPatchesConstants>

    <!--*******************-->
    <!--Patches list-->
    <!--*******************-->
    <!--Patching steps for applying various asm patches on the game-->
    <Patches>
      <!-- This example only contains the NA and EU patch -->
      <Game id="EoS_NA">
      
        <!--Patching sequence for the actor list loader-->
        <Patch id="EasierStatusCheckerCheck" >
          <!--Open each binaries for processing and include the appropriate files-->
          <!--The openfile statements will be appropriately generated based on the data in this file, and on the rom path!-->
          <OpenBin filepath="overlay/overlay_0029.bin">
            <Include filename ="patch_ov29.asm"/>
          </OpenBin>
          <!--You can also patch other binaries too! -->
          <!--<OpenBin filepath="arm9.bin">
            <Include filename ="patch.asm"/>
          </OpenBin>-->
        </Patch>
        
      </Game>
    </Patches>

  </ASMPatchesConstants>
</PMD2>

